<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    {{{_sections.home-style}}}
    {{{_sections.experience-style}}}
    {{{_sections.project-style}}}
    {{{_sections.education-style}}}
</head>
<body style="background-color: #fce883; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
    {{{body}}}
</body>
</html>